
/**
 * Based upon Minnelli, for Drupal 6.x
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net
 */

#tinsel-wrapper #wrapper #container {
  width: 560px;
}

#tinsel-wrapper.sidebars #wrapper #container {
  width: 980px;
}

#tinsel-wrapper.sidebar-left #wrapper #container,
#tinsel-wrapper.sidebar-right #wrapper #container {
  width: 770px;
}
